body {
    font-size: 1em;
    margin: 0 !important;
    padding: 0 !important;
    background-color: white;
    margin-top: 6vh !important;
    font-family: 'Roboto', sans-serif;
}
body:-webkit-full-page-media {
    background-color: #fff;
}
.app {
    width: 100%;
}
.h-80 {
    height: 80% !important;
}
img {
    object-fit: cover;
}
.bg-dark {
    background-color: black !important;
}
.btn-dark {
    background-color: black !important;
}
.btn-dark:hover {
    background-color: white !important;
    color: rgb(28, 125, 185);
}
.fa-twitter {
    color: #1da1f2;
    font-size: 1.5em;
}
.fa-facebook-official {
    background-image: linear-gradient(to bottom, transparent 20%, white 20%, white 93%, transparent 93%);
    background-size: 55%;
    background-position: 70% 0;
    background-repeat: no-repeat;
    color: #3b5998;
    font-size: 1.5em;
}
.carousel-indicator li {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.member-container {
    background-color: white;
}
.card {
    background: transparent;
    border: none;
}
.card-header {
    padding: 0 !important;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: none;
}
.img-one {
    height: 100%;
    width: 100%;
}
.img-two {
    height: 80%;
    width: 100%;
}
.custom-card {
    color: white;
    word-wrap: break-word;
    width: 20vw;
    font-size: 1em;
}
.card-link {
    text-align: center;
}
.card-link a {
    text-decoration: none;
    color: #04FAEB;
}
.app-card {
    background-color: #1185F0;
}
/****************
MEMBER STYLING
****************/

.member-img {
    height: 13em;
    width: 13em;
    border-radius: 50%;
    border: 3px solid #5345EE;
}
.member-img:hover {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.2);
    object-fit: cover;
    border-radius: 20%;
}
/*************************
MEMBER HIGHLIGHT STYLING
*************************/

.member-highlight-wrapper {
    word-wrap: break-word
}
.member-highlight-img {
    display: inline-block;
    height: 20em;
    width: 20em;
}
/********************
MEMBERSHIP  STYLING
*********************/

.membership-stories {
    background-color: #284784;
}
.membership-card {
    background-color: #365899;
    color: white;
    word-wrap: break-word;
    width: 20vw;
    height: 40vh;
    font-size: 1.1em;
}
.membership-header1 {
    background-size: 100% !important;
    background-position: 0% 42% !important;
}
.membership-header2 {
    background: linear-gradient(50.11deg, #4A95DB 12.95%, rgba(222, 236, 248, 0.182529) 60.46%, rgba(255, 255, 255, 0) 70.97%), rgba(32, 180, 189, 0.88);
}

.membership-bg {
    /* position: absolute; */
    background-image: url("/img/group-photo-masterclass.jpeg");
    background-repeat: no-repeat;
    background-position: 50%;
    object-fit: cover;
    opacity: 0.2;
    z-index: 1;
}
.membership-heading {
    color: #365899;
    font-weight: bold;
}
.join-bg {
    background-image: url("/img/community.png");
    background-repeat: no-repeat;
    background-position: right;
    z-index: 1;
}
.circle-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    height: 13em;
    color: #0A5E8D;
}
.circle-div:hover {
    transition: transform 0.9s ease-in-out;
    background-color: #365899;
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
    color: white !important;
}
.circle-div .circle-img {
    height: 20%;
    width: 20%;
}
.circle-div .circle-text {
    word-wrap: break-word;
}
/********************
OUR APPS STYLING
*********************/

.app-page {
    background-color: #284784;
}
.app-page .app-card {
    background-color: #365899;
    text-align: justify;
}
.page-header {
    background-color: rgba(32, 180, 189, 0.75);
    background-image: url("/img/community.png");
    margin-right: 0;
}
.stories-header {
    background: linear-gradient( rgba(32, 181, 189, 0.483), rgba(32, 180, 189, 0.483)), url("/img/CLELB- PIC_97.jpg");
    background-size: 80%;
    background-position: 0 60%;
}
.app-header {
    background: linear-gradient( rgba(32, 180, 189, 0.35), rgba(32, 180, 189, 0.35)), url("/img/IMG_9953.JPG");
    background-size: 70%;
}
.app-demo {
    background-color: white;
    width: 30vw;
    word-wrap: break-word;
    right: 5vh;
    top: 15vh;
    position: absolute;
}
.app-demo h4 {
    margin-top: 1em;
    margin-bottom: 1em;
    color: #284784;
    font-weight: bold;
}
.memberhighlight-img {
    max-height: 400px;
}
